/* Body */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --secound-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: .3s;
}

/* .logo img {
  max-width: 100%;
  width: 130px;
  height: auto;
} */
.navlist {
  display: flex;
}

.navlist li {
  position: relative;
}

.navlist a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 27px;
}

.navlist a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-color);
  bottom: -3px;
  left: 0;
  transition: ease .40s;
}

.navlist a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn {
  display: inline-block;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  transition: ease .50s;
  cursor: pointer;
}

.top-btn:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--bg-color);
}

/* Home */
section {
  padding: 100px 18%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(../img/background.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  align-items: center;
  grid-gap: 4rem;
}

.home-text h1 {
  margin: 10px 0px 25px;
  font-size: 4.3rem;
  line-height: 1;
  font-weight: 500;
}

.home-text h5 {
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 500;
}

span {
  color: var(--main-color);
}

.home-text h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}

.home-text p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  margin-bottom: 20px;
}

.social a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #205375;
  font-size: 17px;
  color: var(--bg-color);
  margin-right: 22px;
  margin-bottom: 30px;
}

.social a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .5s;
}

.btn {
  display: inline-block;
  color: var(--bg-color);
  background: var(--main-color);
  font-size: var(--p-font);
  padding: 10px 40px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 30px;
  transition: ease .40s;
}

.btn:hover {
  transform: scale(1.1);
}

/* .home-img img {
  max-width: 100%;
  width: 540px;
  height: auto;
} */
header.sticky {
  background: var(--bg-color);
  padding: 13px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* Skills */
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.sub-box {
  padding: 45px 45px 45px 45px;
  transition: ease .50s;
  cursor: pointer;
}

.sub-img img {
  /* max-width: 100%;
  width: 60px;
  height: auto; */
  margin-bottom: 20px;
}

.sub-box h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.sub-box p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 29px;
  text-align: justify;
}

.sub-box:hover {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  will-change: transform;
  transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}

/* About */
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  align-items: center;
  grid-gap: 2rem;
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
}

/* .about-img img {
  max-width: 100%;
  width: 540px;
  height: auto;
} */
.about-text {
  padding: 45px 45px 45px 45px;
  transition: ease 0.50s;
  cursor: pointer;
  text-align: justify;
}

.about-text h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 8px 0px 25px;
  line-height: 1.1;
}

.about-text h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}

.about-text p {
  max-width: 550px;
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  margin-bottom: 45px;
  justify-content: center;
}

.about-text:hover {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 7px 0px 20px;
  line-height: 1.1;
}

.heading h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}

.heading p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
}

/*.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}

.col {
  position: relative;
}

.col img {
  max-width: 100%;
  width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all .40s;
}

.layer:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}

.layer h3 {
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-weight: 25px;
  color: var(--bg-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .40s;
}

.layer:hover h3 {
  bottom: 52%;
  opacity: 1
}

.layer h5 {
  position: absolute;
  width: 100%;
  font-size: 17px;
  font-weight: 25px;
  color: var(--bg-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .40s;
}

.layer:hover h5 {
  bottom: 48%;
  opacity: 1
} */
/* Service */
.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.row {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 45px 45px 45px 45px;
  transition: ease .45s;
  cursor: pointer;
}

.s img {
  /* height: 65px;
  width: 65px; */
  background: #f75124;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.s.s-tow img {
  background: #baebcd;
}

.s.s-three img {
  background: #d9d1fa;
}

.s.s-four img {
  background: #faedce;
}

.row h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
}

.row h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 19px;
}

.row p {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  text-align: justify;
  ;
}

.row .btn {
  margin: 20px 10px 10px;
}

.order {
  background: #205375;
}

.row:hover {
  will-change: transform;
  transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}

.cta-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}

.wrap {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 50px 50px 50px 50px;
  transition: ease .40s;
  cursor: pointer;
}

.one {
  background: #baebcd;
}

.two {
  background: #d9d1fa;
}

.three {
  background: #faedce;
}

.wrap h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
}

.wrap p {
  font-size: var(--p-font);
}

/* Download eBook */
.ebook-box {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 50px 50px 50px 50px;
  transition: ease .40s;
  margin-top: 4rem;
  display: flex;
}

.ebook-box:hover {
  transform: scale(1.05);
}

.ebook-features {
  padding: 45px;
  text-align: justify;
  width: 68%;
}

.ebook-features h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.ebook-features li {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  list-style-type: disc;
  margin-top: 10px;
}

.download-content {
  width: 30%;
  padding: 20px;
}

.download-content img {
  /* max-width: 100%;
  width: 220px;
  height: auto; */
  align-items: center;
}

.download-btn input[type="submit"] {
  margin-top: 10px;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  transition: ease .50s;
  cursor: pointer;
}

.download-btn input[type="submit"]:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--bg-color);
}

/* Popup */
.popup-section {
  position: absolute;
  max-width: 100%;
  width: 50%;
  height: auto;
  visibility: hidden;
  z-index: 2;
  margin-left: 25%;
  background: #8067f0eb;
  background-image: url(../img/intro.png);
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
}

.cross-icon {
  margin-top: -10px;
  margin-right: -10px;
  float: right;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.cross-icon:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.popup h3 {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 10px;
}

.popup p {
  font-size: var(--p-font);
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 30px;
  text-align: center;
}

.popup form input[type="text"] {
  max-width: 100%;
  width: 220px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
}

.popup form input[type="email"] {
  max-width: 100%;
  width: 440px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
}

.popup form input[type="submit"] {
  margin-top: 10px;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  cursor: pointer;
}

.popup form input[type="submit"]:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--bg-color);
}

.open-popup {
  position: fixed;
  top: 25%;
  visibility: visible;
  z-index: 1000;
}

/* Contact */
.contact {
  background: #8067f0eb;
  width: 64%;
  margin: 30px auto 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-image: url(../img/intro.png);
  background: cover;
}

.center h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--bg-color);
}

.center p {
  font-size: var(--p-font);
  color: var(--bg-color);
  line-height: 26px;
  margin-bottom: 25px;
}

.contact .action form input[type="text"] {
  max-width: 100%;
  width: 470px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 auto 20px auto;
  border-radius: 20px;
  font-size: var(--p-font);
  font-weight: 500;
}

.contact .action form input[type="email"] {
  max-width: 100%;
  width: 470px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 auto 20px auto;
  border-radius: 20px;
  font-size: var(--p-font);
  font-weight: 500;
}

.contact .action form textarea {
  max-width: 100%;
  width: 470px;
  border-radius: 20px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 auto 20px auto;
  display: block;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}

.contact .action form input[type="submit"] {
  padding: 12px 40px;
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
  cursor: pointer;
  transition: ease .40s;
}

.contact .action form input[type="submit"]:hover {
  transform: scale(1.1);
}

.other-contacts h4 {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 400;
}

.contact-options a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #205375;
  font-size: 17px;
  color: var(--bg-color);
  margin-right: 20px;
}

.contact-options a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .5s;
}

/* Footer */
footer {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #112B3C;
  padding: 30px 18%;
  display: flex;
}

footer ul {
  justify-content: center;
}

footer p {
  margin-top: 20px;
  text-align: center;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--secound-color);
}

.list-inline {
  display: flex;
  width: 100%;
}

.list-inline a {
  font-size: var(--p-font);
  color: var(--secound-color);
  font-weight: 500;
  padding: 10px 27px;
  display: block;
  transition: ease 0.40s;
}

.list-inline a:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

.first img {}

.middle {
  width: 80%;
  text-align: center;
}

.third {
  text-align: right;
}

.third a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #205375;
  color: var(--bg-color);
  top: 50%;
  left: 50%;
}

.third a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .5s;
}

/* Disclaimer */
.disclaimer {
  background: #ffffff;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
  border-radius: 12px;
  padding: 50px 50px 50px 50px;
  transition: ease .40s;
  cursor: pointer;
  margin-top: 4rem;
}

.disclaimer:hover {
  transform: scale(1.02);
}

.disclaimer h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-color);
}

.disclaimer h2 {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: var(--text-color);
}

.disclaimer h3 {
  font-size: 1.2rem;
}

.disclaimer p {
  font-size: var(--p-font);
  color: var(--secound-color);
  margin-bottom: 20px;
  text-align: justify;
}

.disclaimer a {
  font-weight: 500;
  display: inline-block;
  transition: ease 0.40s;
  margin-left: 10px;
  margin-right: 10px;
  color: #205375;
}

.disclaimer a:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

.disclaimer ul {
  padding: 20px 30px;
}

.disclaimer li {
  font-size: var(--p-font);
  color: var(--secound-color);
  line-height: 28px;
  list-style-type: disc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.disclaimer li::before {
  color: #205375;
}

/* Media Query */
@media (max-width: 1425px) {
  .home-text h1 {
    font-size: 2.9rem;
  }

  .about {
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  }

  .about img {
    width: 50%;
    display: block;
    margin: 0px auto;
  }

  .about-text p {
    max-width: 1000px;
  }

  .popup form input[type="text"] {
    width: 200px;
  }

  .popup .email-div {
    padding: 0px 10px;
  }
}

@media (max-width: 1200px) {
  :root {
    --h2-font: 38px;
  }

  .home {
    min-height: 100vh;
  }

  .logo img {
    width: 80px;
    height: auto;
  }

  .top-btn {
    padding: 8px 15px;
    font-size: 15px;
  }

  .home-img img {
    width: 350px;
  }

  .home-text h1 {
    font-size: 2.6rem;
  }

  .items {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .sub-box {
    padding: 20px;
  }

  .sub-box h3 {
    font-size: 20px;
  }

  .sub-box p {
    font-size: 14px;
    line-height: 26px;
  }

  .ebook-box {
    padding: 30px;
    margin-top: 3rem;
  }

  .ebook-features li {
    line-height: 22px;
  }

  .download-content img {
    width: 168px;
    height: auto;
  }

  .ebook-features {
    padding: 30px;
  }

  .download-btn input[type="submit"] {
    padding: 8px 15px;
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  :root {
    --h2-font: 34px;
  }

  .logo img {
    width: 64px;
    height: auto;
  }

  .top-btn {
    padding: 6px 10px;
    font-size: 10px;
  }

  .navlist a {
    padding: 10px 20px;
  }

  .home-text h1 {
    font-size: 1.8rem;
  }

  .home-img img {
    width: 320px;
  }

  .home-text h5 {
    font-size: 16px;
  }

  .home-text p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 26px;
  }

  .download-content {
    margin: auto 0px;
  }

  footer p {
    margin-top: 0px;
  }
}

@media (max-width: 900px) {
  :root {
    --h2-font: 30px;
  }

  .navlist a {
    padding: 10px 14px;
  }

  .home {
    grid-template-columns: repeat(1, 1fr);
  }

  .home h1 {
    font-size: 3rem;
  }

  .home-text h5 {
    font-size: 16px;
  }

  .home-text p {
    font-size: 16px;
  }

  .home-img img {
    margin: 0 auto;
  }

  .items {
    grid-template-columns: repeat(2, minmax(220px, auto));
  }

  .ebook-features li {
    line-height: 18px;
    font-size: 16px;
  }

  .contact .action form input[type="text"] {
    width: 300px;
    padding: 6px 15px;
    font-size: 16px;
    font-weight: 400;
  }

  .contact .action form input[type="email"] {
    width: 300px;
    padding: 6px 15px;
    font-weight: 400;
    font-size: 16px;
  }

  .contact .action form textarea {
    width: 300px;
    padding: 6px 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .list-inline a {
    padding: 8px 20px;
  }

  .popup-section {
    margin-left: 18%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    margin: 0 auto;
  }

  .home {
    min-height: 80vh;
  }

  .navlist {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--main-color);
    text-align: right;
    transition: all .40s;
  }

  .navlist a {
    display: block;
    padding: 1.2rem;
    margin: 1.5rem;
    border-right: 2px solid var(--bg-color);
    color: var(--bg-color);
  }

  .navlist a:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }

  .navlist a::after {
    display: none;
  }

  .navlist.active {
    top: 100%;
  }

  .items {
    grid-template-columns: repeat(1, minmax(220px, auto));
  }

  .popup-section {
    margin-left: 20%;
  }

  .sub-box p {
    font-size: var(--p-font);
  }

  .ebook-box {
    flex-direction: column;
  }

  .ebook-features {
    width: 100%;
  }

  .ebook-features li {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
  }

  .download-content {
    width: 100%;
  }

  .download-content img {
    margin: 0 20%;
  }

  .download-btn input[type="submit"] {
    padding: 6px 10px;
    font-size: 10px;
    margin: 0 30%;
  }

  .popup h3 {
    font-size: 1.8rem;
  }

  .popup p {
    font-size: 12px;
  }

  .popup form input[type="text"] {
    padding: 8px 15px;
  }

  .popup form input[type="email"] {
    padding: 12px 15px;
    width: 220px;
  }

  .popup form input[type="submit"] {
    padding: 6px 18px;
  }

  footer p {
    font-size: 12px;
  }

  .list-inline a {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .home h1 {
    font-size: 2.8rem;
  }

  .about {
    grid-template-columns: repeat(1, minmax(220px, auto));
  }

  .about-text h2 {
    font-size: 26px;
  }

  .about-text h3 {
    font-size: 16px;
  }

  .about-text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  section{
    padding: 50px 5%;
  }
  .home h1 {
    font-size: 2.2rem;
  }
  .home img {
    width: 220px;
  }

  .about-text {
    padding: 30px;
  }

  .service-content {
    grid-template-columns: repeat(1, minmax(260px, auto));
  }

  .ebook-box {
    padding: 20px;
  }

  .download-content img {
    margin: 0px auto;
  }

  .download-btn input[type="submit"] {
    margin: 10px 40px;
  }

  .popup form input[type="email"] {
    width: 260px;
    padding: 10px 15px;
    margin: 0 0px 20px 0;
  }

  .popup form input[type="submit"] {
    width: 160px;
    font-size: 14px;
    padding: 6px 2px;
    letter-spacing: 0px;
  }

  .center p {
    font-size: 16px;
  }

  .contact .action form input[type="text"] {
    width: 220px;
  }

  .contact .action form input[type="email"] {
    width: 220px;
  }

  .contact .action form textarea {
    width: 220px;
  }

  .list-inline a {
    font-size: 8px;
  }

  footer p {
    font-size: 10px;
  }

  .third a {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  :root {
    --h2-font: 1rem;
    --p-font: 14px;
  }

  .logo img {
    width: 60px;
  }

  .navlist a {
    padding: 8px;
    margin: 6px;
  }

  header {
    padding: 20px 10%;
  }

  #menu-icon {
    font-size: 25px;
  }

  .home-text h3 {
    margin-top: 60px;
    font-size: 12px;
    text-align: justify;
  }

  .home h1 {
    font-size: 34px;
  }

  .home-text p {
    font-size: 16px;
    text-align: justify;
  }

  .social a {
    width: 30px;
    height: 30px;
    margin-right: 6px
  }

  .btn {
    font-size: 12px;
    padding: 6px 20px;
  }

  .home img {
    width: 220px;
  }

  .about-img img {
    width: 200px;
  }

  .about-text {
    padding: 25px;
  }

  .about-text p {
    line-height: 26px;
  }

  .service-content {
    grid-template-columns: repeat(1, minmax(240px, auto));
  }

  .ebook-box {
    padding: 10px;
  }

  .ebook-features {
    padding: 10px 10px 10px 20px;
  }

  .ebook-features h3 {
    font-size: 20px;
  }

  .ebook-features li {
    font-size: 14px;
    line-height: 18px;
  }

  .download-content img {
    width: 120px;
  }

  .download-btn input[type="submit"] {
    margin: 10px 20px;
  }

  .popup h3 {
    font-size: 1rem;
  }

  .popup p {
    font-size: 10px;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .popup form input[type="text"] {
    margin-top: 5px;
    width: 260px;
    padding: 6px 10px;
    font-weight: 400;
    margin: 0 10px 10px 0;
    border-radius: 12px;
    font-size: 10px;
  }

  .popup .email-div {
    padding: 0px;
  }

  .popup form input[type="email"] {
    width: 260px;
    padding: 6px 10px;
    font-weight: 400;
    margin: 0 10px 10px 0;
    border-radius: 12px;
    font-size: 10px;
  }

  .popup form input[type="submit"] {
    font-weight: 400;
    width: 80px;
  }

  .center h3 {
    font-size: 16px;
  }

  .center p {
    font-size: 8px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .contact {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }

  .contact .action form input[type="text"] {
    width: 160px;
    padding: 6px 10px;
    font-weight: 400;
    margin: 0 10px 10px 0;
    border-radius: 12px;
    font-size: 10px;
  }

  .contact .action form input[type="email"] {
    width: 160px;
    padding: 6px 10px;
    font-weight: 400;
    margin: 0 10px 10px 0;
    border-radius: 12px;
    font-size: 10px;
  }

  .contact .action form textarea {
    +display: block;
    width: 160px;
    padding: 6px 10px;
    font-weight: 400;
    border-radius: 12px;
    font-size: 10px;
  }

  .contact .action form input[type="submit"] {
    padding: 4px 16px;
    margin-bottom: 10px;
  }

  .other-contacts h4 {
    font-size: 12px;
  }

  .contact-options a {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  footer {
    padding: 30px 10%;
    justify-content: space-around;
  }

  footer p {
    font-size: 8px;
  }

  .list-inline a {
    font-size: 6px;
    padding: 6px 16px;
  }

  .middle {
    width: 90%;
  }

  .third {
    width: 5%;
  }
}
